[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-rest-knox = "*"
pandas = "*"
numpy = "*"
drf-yasg = "*"
joblib = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.13"
